.dashboardHero {
  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 300px;
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
  border-radius: 40px; 
}

.dashboardHero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.dashboardHero > * {
  position: relative;
  z-index: 1;
}
header {
  background-color: transparent !important;
}