.auth-container{
  background-image: url('../src/assets/images/auth-bg.png');
  background-size: cover;
  background-position: center center;
}

.bg-overlay{
  background: linear-gradient(45deg, rgba(47, 140, 96,0.6),#000000FC);
}

.sidebar-component .ps-sidebar-container{
  border-top-right-radius: 35px;
  color:#FFF;
  min-height: 100vh;
  background-color: rgba(31,38,62,1);
}

sidebar-component .ps-menu-button{
  transition: all 1s;
}
.sidebar-component .ps-menu-button:hover{
  background-color: rgba(0,146,77,0.1) !important;
  border-left: 5px solid rgba(0,146,71,1);
}
 
.home-details{
  background-color: #F0FFEF;
}
